<h1>Provide some amount of pennies to convert it to quarters, dimes, nickels and pennies.</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="amount">Your amount:</label>
    <input id="amount" name="amount" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
